<h1><%- title %></h1>
<%- messages() %> <%# WK4 TSK2.4 %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

  <form class="login-form" action="/inv/add-inventory" method="post">
    <label>Make<span class="fine-print">*.</span><input type="text" value="<%- locals.inv_make %>" placeholder="Ford" name="inv_make" minlength="2" maxlength="50"></label>
    <label>Model<span class="fine-print">*.</span><input type="text" value="<%- locals.inv_model %>" placeholder="Mustang" name="inv_model" minlength="2" maxlength="50"></label>
    <label>Year<span class="fine-print">*.</span><input type="number" value="<%- locals.inv_year %>" placeholder="2001" name="inv_year" min="1900" max="2030"></label>
    <label>Description<span class="fine-print">*.</span><span class="fine-print">*.</span><br>
        <textarea placeholder="Fancy and red." name="inv_description" minlength="2" maxlength="100" rows="5"><%- locals.inv_description %></textarea>
    </label>
    <label>Image<input type="text" value="/images/vehicles/no-image.png" placeholder="red_mustang.jpg" name="inv_image"></label>
    <label>Thumbnail<input type="text" value="/images/vehicles/no-image-tn.png" placeholder="litle_red_mustang.jpg" name="inv_thumbnail"></label>
    <label>Price<span class="fine-print">*.</span><input type="number" value="<%- locals.inv_price %>" placeholder="15,000" name="inv_price"></label>
    <label>Miles<span class="fine-print">*.</span><input type="number" value="<%- locals.inv_miles %>" placeholder="100,000" name="inv_miles"></label>
    <label>Color<span class="fine-print">*.</span><input type="text" value="<%- locals.inv_color %>" placeholder="Red" name="inv_color"></label>
    <label>Classification<span class="fine-print">*.</span>
        <%- classifications %>
    </label>
    <input type="submit" value="ADD">
  </form>